@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}
body {font-family: 'SF Pro Display', sans-serif;}
/*****App****/
.container {
    width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginSection {
    width: 84%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-inline: 34px;
}
.loginTop {
    margin-top: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-inline: 21px;
    & h3 {
        color: #3A3A3A;
        font-size: 11px;
        font-weight: 500;
        line-height: normal;
        white-space: nowrap;
        text-align: center;
    }
}
.loginBtn {
    width: 100%;
    background-color: #3797EF;
    border: 0;
    border-radius: 5px;
    padding: 14px 95px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.15px;
    white-space: nowrap;

}
footer {
    width: 84%;
    display: flex;
    gap: 5px;
    padding: 18px 80px;
    border-top: 1px solid #D3D3D3;
    margin-top: 216px
}
footer p {
    white-space: nowrap;
    opacity: 0.4;
}
.registerBtn {
    border: none;
    background-color: transparent;
    & a {
        text-decoration: none;
        color: #23244F; 
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.005px;
    }
}
/**Login Page**/
.loginSection {
    margin-top: 80px;
    width: 345px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 39px;
}
.loginForm {
    width: 343px;
    display: flex;
    flex-direction: column;
    gap: 12px;
   
}
.loginForm input {
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.10);
    background: #FAFAFA;
    padding: 14px 229px 14px 25px;
}
.goFeed {
    margin-top: 51px;
    & a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.15px;
        white-space: nowrap;
    }
}
.signUpWay {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.loginSignUp {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.loginSignUp a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.15px; 
    color: #3797EF; 
}
.signUpTop {
    display: flex;
    align-items: center;
    gap: 31px;
    & span {
        width: 132px;
        height: 1px;
        background-color: gray;
        opacity: 0.2;
    }
    & h4 {
        font-size: 12px;
        font-weight: 600;
        line-height: normal; 
        color: rgba(0, 0, 0, 0.40); 
    }
}
.signUpBot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & p {
        color: rgba(0, 0, 0, 0.40); 
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px; 
    }
    & a {
        color: #3797EF;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px;    
    }
}
.loginFooter {
    display: flex;
    justify-content: center;
}
.backToMain {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
        color: rgba(0, 0, 0, 0.80); 
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px; 
        text-decoration: none;
}
/*********************************************/
/**REGISTER**/
.registerInner {
    margin-top: 80px;
    width: 345px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 39px;
}
.registerForm {
    width: 343px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.registerForm input {
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.10);
    background: #FAFAFA;
    padding: 14px 229px 14px 25px;
}
/***********************************************************************/
/**FEED**/
.feedHeader {
    padding-block: 5px;
    display: flex;
    flex-direction: column;
    width: 334px;
    gap: 17px;
    border-bottom: 0.5px solid #E0E0E0;
}
.topNav {
    display: flex;
    align-items: center;
    padding-inline:20px; 
    justify-content: space-between;
    & img {
        width: 122px;
    }
}
.topNavSp {
    display: flex;
    gap: 12px;
    & img {
        width: 25px;
    }
}
.storySection {
    display: flex;
    align-items: center;
    justify-content: start;
    & img {
        width: 63px;
        height: 63px;
        border-radius: 50px;
        border: 2px solid #6701E9 ;
        overflow: hidden;
        position: relative;
    }
}
.bottomNav {
    width: 100%;
    padding:8px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & button {
        background-color: transparent;
        border: none;
    }
}
